<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeRegServlet</servlet-name>
  	<display-name>EmployeeRegServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.EmployeeRegServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserPassServlet</servlet-name>
  	<display-name>UserPassServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.UserPassServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginValidation</servlet-name>
  	<display-name>LoginValidation</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.LoginValidation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginValidationServlet</servlet-name>
  	<display-name>LoginValidationServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.LoginValidationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementRequestServlet</servlet-name>
  	<display-name>ReimbursementRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ReimbursementRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementStatusServlet</servlet-name>
  	<display-name>ReimbursementStatusServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ReimbursementStatusServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewLoginCredentialsServlet</servlet-name>
  	<display-name>NewLoginCredentialsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.NewLoginCredentialsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeDetailsServlet</servlet-name>
  	<display-name>EmployeeDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.EmployeeDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllEmployeeDetailsServlet</servlet-name>
  	<display-name>AllEmployeeDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.AllEmployeeDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmpDetailsServlet</servlet-name>
  	<display-name>UpdateEmpDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.UpdateEmpDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDetailsServlet</servlet-name>
  	<display-name>UpdateDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.UpdateDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpReimbursementRequests</servlet-name>
  	<display-name>EmpReimbursementRequests</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.EmpReimbursementRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>specificEmpReimbursement</servlet-name>
  	<display-name>specificEmpReimbursement</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.specificEmpReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PendingRequestServlet</servlet-name>
  	<display-name>PendingRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.PendingRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApprovedRequestServlet</servlet-name>
  	<display-name>ApprovedRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ApprovedRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeniedRequestsServlet</servlet-name>
  	<display-name>DeniedRequestsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.DeniedRequestsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerApprovalDenyServlet</servlet-name>
  	<display-name>ManagerApprovalDenyServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ManagerApprovalDenyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerApproveDenyServlet</servlet-name>
  	<display-name>ManagerApproveDenyServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ManagerApproveDenyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApprovalServlet</servlet-name>
  	<display-name>ApprovalServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ApprovalServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerApprovalServlet</servlet-name>
  	<display-name>ManagerApprovalServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ManagerApprovalServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerDenyServlet</servlet-name>
  	<display-name>ManagerDenyServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ManagerDenyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerApprovalRequestsServlet</servlet-name>
  	<display-name>ManagerApprovalRequestsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ManagerApprovalRequestsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPendingRequestsServlet</servlet-name>
  	<display-name>ManagerPendingRequestsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ManagerPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerDenyRequestsServlet</servlet-name>
  	<display-name>ManagerDenyRequestsServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.ers.controller.ManagerDenyRequestsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EmployeeRegServlet</servlet-name>
  	<url-pattern>/EmployeeRegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserPassServlet</servlet-name>
  	<url-pattern>/UserPassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginValidation</servlet-name>
  	<url-pattern>/LoginValidation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginValidationServlet</servlet-name>
  	<url-pattern>/LoginValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementRequestServlet</servlet-name>
  	<url-pattern>/ReimbursementRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementStatusServlet</servlet-name>
  	<url-pattern>/ReimbursementStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewLoginCredentialsServlet</servlet-name>
  	<url-pattern>/NewLoginCredentialsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeDetailsServlet</servlet-name>
  	<url-pattern>/EmployeeDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllEmployeeDetailsServlet</servlet-name>
  	<url-pattern>/AllEmployeeDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmpDetailsServlet</servlet-name>
  	<url-pattern>/UpdateEmpDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDetailsServlet</servlet-name>
  	<url-pattern>/UpdateDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpReimbursementRequests</servlet-name>
  	<url-pattern>/EmpReimbursementRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>specificEmpReimbursement</servlet-name>
  	<url-pattern>/specificEmpReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PendingRequestServlet</servlet-name>
  	<url-pattern>/PendingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApprovedRequestServlet</servlet-name>
  	<url-pattern>/ApprovedRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeniedRequestsServlet</servlet-name>
  	<url-pattern>/DeniedRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerApprovalDenyServlet</servlet-name>
  	<url-pattern>/ManagerApprovalDenyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerApproveDenyServlet</servlet-name>
  	<url-pattern>/ManagerApproveDenyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApprovalServlet</servlet-name>
  	<url-pattern>/ApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerApprovalServlet</servlet-name>
  	<url-pattern>/ManagerApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerDenyServlet</servlet-name>
  	<url-pattern>/ManagerDenyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerApprovalRequestsServlet</servlet-name>
  	<url-pattern>/ManagerApprovalRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPendingRequestsServlet</servlet-name>
  	<url-pattern>/ManagerPendingRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerDenyRequestsServlet</servlet-name>
  	<url-pattern>/ManagerDenyRequestsServlet</url-pattern>
  </servlet-mapping>
 
 
</web-app>
